# Python
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
.Python
*.pkl
*.egg-info/
dist/
build/

# Virtual Environment
.venv/
venv/
env/

# Environment variables (VERY IMPORTANT)
.env
.env.local

# IDE
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Node (if frontend uses it)
node_modules/

# Testing / cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/